nextflow.enable.dsl=2

manifest {

  name = 'clustermg'
  description = 'compare (meta)genomes via orthologuous clustering'
  mainScript = 'main.nf'

}

params {

  help = false
  outdir = null

  prodigal_docker = 'quay.io/biocontainers/prodigal:2.6.3--h031d066_6'
  prodigal_singularity = 'https://depot.galaxyproject.org/singularity/prodigal%3A2.6.3--h031d066_6'

  minimap_docker = 'quay.io/biocontainers/minimap2:2.26--he4a0461_2'
  minimap_singularity = 'https://depot.galaxyproject.org/singularity/minimap2%3A2.26--he4a0461_2'

  samtools_docker = 'quay.io/biocontainers/samtools:1.18--h50ea8bc_1'
  samtools_singularity = 'https://depot.galaxyproject.org/singularity/samtools%3A1.18--h50ea8bc_1'

  seqkit_docker = 'quay.io/biocontainers/seqkit:2.5.1--h9ee0642_0'
  seqkit_singularity = 'https://depot.galaxyproject.org/singularity/seqkit%3A2.5.1--h9ee0642_0'

  subread_docker = 'quay.io/biocontainers/subread:2.0.1--hed695b0_0'
  subread_singularity = 'https://depot.galaxyproject.org/singularity/subread%3A2.0.1--hed695b0_0'

  bedtools_docker = 'quay.io/biocontainers/bedtools:2.24--1'
  bedtools_singularity = 'https://depot.galaxyproject.org/singularity/bedtools%3A2.24--1'

  bowtie_docker = 'quay.io/biocontainers/bowtie2:2.5.3--py310ha0a81b8_0'
  bowtie_singularity = 'https://depot.galaxyproject.org/singularity/bowtie2%3A2.5.3--py310ha0a81b8_0'

  python_docker = 'quay.io/biocontainers/python:3.12'
  python_singularity = 'https://depot.galaxyproject.org/singularity/python%3A3.12'

  mmseqs_docker = 'quay.io/biocontainers/mmseqs2:15.6f452--pl5321h6a68c12_1'
  mmseqs_singularity = 'https://depot.galaxyproject.org/singularity/mmseqs2%3A15.6f452--pl5321h6a68c12_1'

  cdhit_docker = 'quay.io/biocontainers/cd-hit:4.8.1--h43eeafb_9'
  cdhit_singularity = 'https://depot.galaxyproject.org/singularity/cd-hit%3A4.8.1--h43eeafb_9'

  pandas_docker = 'quay.io/biocontainers/pandas:2.2.1'
  pandas_singularity = 'https://depot.galaxyproject.org/singularity/pandas%3A2.2.1'

  polars_docker = 'quay.io/biocontainers/polars:0.18.15'
  polars_singularity = 'https://depot.galaxyproject.org/singularity/polars%3A0.18.15'


}

profiles {

  test {
    includeConfig 'conf/test.config'
  }
	
  docker {
    docker.enabled = true
  }
  
  apptainer {
    apptainer.enabled = true
    apptainer.autoMounts = true
    apptainer.cacheDir = "apptainer_cache"
  }

  conda {
    conda.enabled = true
    conda.channels = ['conda-forge', 'bioconda', 'defaults']
  }
  
  hpc {
    process.cpus = 32  
  }
  
  local {
    process.cpus = 8
  }

}
